<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.singlework">

    <application>
        <activity android:name=".SingleMainActivity"/>
        <activity android:name="com.example.singlework.qrcode.QRScannerActivity"/>
    </application>

</manifest>